.App-footer {
    margin: 0;
    padding: 50px;
    background-color: rgb(249, 220, 48, 1);
    font-family: 'Righteous', cursive;
    font-size: 0.90rem;
    text-align: center;
    line-height: 6vh;
    font-weight: 200;
    color: #3f4291;

}
