.App-navbar {
    margin:0;
    padding: 0;
    background-color: rgb(249, 220, 48,1);
    font-family: 'Righteous', cursive, sans-serif;
    font-size: 0.90rem;
    line-height: 6vh;
    font-weight: 300;
    color: #3f4291;

}
